.dashboard {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
}
.pageContainer {
  width: 100%;
  padding: 1rem;
}

/******************/
/* MEDIA QUERIES */
/****************/
@media screen and (min-width: 37.5rem) {
  .dashboard {
    flex-direction: row;
    flex-grow: 1;
  }
  .pageContainer {
    padding: 4rem;
  }
}
