.dashboard {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
}
.pageContainer {
  max-width: 100%;
  width: 100%;
  padding: 0 0 0.25rem 0;
  overflow: hidden;
}

/******************/
/* MEDIA QUERIES */
/****************/
@media screen and (min-width: 37.5rem) {
  .dashboard {
    width: 100%;
    flex-direction: row;
    flex-grow: 1;
  }
  .pageContainer {
    padding: 2rem;
  }
}

@media screen and (min-width: 80em) {
  .pageContainer {
    padding: 4rem;
  }
}
