.dialog {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 2rem;
  max-width: 28rem;
  min-height: 20rem;
  align-items: center;
  background: #fff;
  box-shadow: 1rem 1rem 1rem 1rem, rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  position: relative;
  border-radius: 2rem;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.closeDialogBtn {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  font-family: var(--roboto);
  text-transform: uppercase;
}
.title {
  font-size: 1rem;
  text-align: left;
  align-self: flex-start;
  font-family: var(--roboto);
  font-weight: 400;
  text-transform: uppercase;
}
.inputText {
  border: 1px solid var(--mediumGrey);
  padding: 0.25rem;
  border-radius: 4rem;
}
.inputLabel {
  font-family: var(--roboto);
  font-weight: 300;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submitBtn {
  width: max-content;
  align-self: flex-end;
  background: var(--purple);
  font-family: var(--poppins);
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 2.25rem;
  margin-top: auto;
}
