.wrapper {
  max-width: 100%;
  height: 100%;
}
.container {
  margin-bottom: 2rem;
}
.visualizationContainer {
  width: 100%;
}
.chartContainer {
  padding: 1rem;
  background: var(--grey);
  border-radius: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toolsContainer {
  width: max-content;
}
.panel {
  background-color: var(--grey);
  padding: 1rem;
  border-radius: 2rem;
}

.toolsPanel {
  background-color: transparent;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modeSelectorContainer {
  background-color: var(--grey);
  border-radius: 3rem;
  height: 2.5rem;
}
.modeSelector {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  padding: 0.125rem 0.25rem;
  justify-content: space-between;
  align-items: center;
}
.link {
  display: block;
  width: max-content;
  height: 2rem;
  padding: 0.25rem 1rem;
  color: var(--darkGrey);
  font-size: 0.6875rem;
  font-family: var(--poppins);
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
}
.active {
  background: var(--darkGrey);
  color: var(--lime);
}

.valueSelectorContainer {
  background: var(--grey);
  border-radius: 4rem;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: max-content;
  margin: 0 auto 1rem auto;
  /* Scrollbar oletuksena piiloon */
  scrollbar-width: none; /* Firefox */
}
.valueSelector {
  white-space: nowrap;
  padding: 0.25rem;
}
.valueSelector button {
  display: inline-block;
}

.valueSelector::-webkit-scrollbar {
  height: 8px;
  opacity: 0;
}

/* Ei scrollbar trackia näkyviin */
.valueSelector::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb näkyy vain hoverilla */
.valueSelector::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.valueSelector:hover::-webkit-scrollbar-thumb {
  background-color: var(--darkGrey);
}

.valueSelector button {
  min-width: max-content;
  height: 2rem;
  padding: 0.25rem 1rem;
  color: var(--darkGrey);
  font-size: 0.6875rem;
  font-family: var(--poppins);
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.valueSelector button.activeBtn {
  color: var(--lime);
  background-color: var(--darkGrey);
}

.datePickerContainer {
  width: 100%;
  background-color: var(--grey);
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: first baseline;
  gap: 0.25rem;
}

.datePickerContainer .divRlou {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
  background-color: var(--darkGrey);
  color: #fff;
  line-height: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  border-radius: 2rem;
}
.notesAndWateringsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  border-radius: 2rem;
  padding: 1rem;
}
.notesWrapper {
  width: 100%;
}
.notesContainer {
  width: 100%;
  border-radius: 2rem;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 0 2rem 0;
}

.notesTitle {
  width: 100%;
  text-align: center;
  margin: 0 0 1rem 0;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.wateringsWrapper {
  width: 100%;
  text-align: left;
}
.wateringsTitle {
  width: 100%;
  text-align: center;
  margin: 0 0 1rem 0;
}

.wateringsContainer {
  width: 100%;
  border-radius: 2rem;
  padding: 0;
  margin: 0 0 2rem 0;
}

.waterings {
  width: 100%;
}
.headerRow {
  background: var(--grey);
}
.waterings th {
  width: 50%;
  padding: 0.25rem;
}

/******************/
/* MEDIA QUERIES */
/****************/
@media screen and (min-width: 37.5rem) {
  .container {
    padding: 1rem;
    background: var(--lightGrey);
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  }

  .notesWrapper,
  .wateringsWrapper {
    width: 50%;
  }
  .notesContainer {
    margin: 0 auto;
    flex-direction: column;
    padding-top: 0;
  }

  .wateringsContainer {
    margin: 0 auto 2rem auto;
    flex-direction: column;
  }

  .notesAndWateringsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background: var(--lightGrey);
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  }
}
