.container {
  width: 100%;
  max-width: 48rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  padding: 2rem 0;
  background: var(--lightGrey);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.notesContainer {
  width: 100%;
  max-width: 48rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  padding: 2rem 0;
  background: var(--lightGrey);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  overflow: hidden;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.side {
  width: 100%;
  background: var(--grey);
  border-radius: 2rem;
  overflow: hidden;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date {
  width: 320px;
  background: var(--grey);
  border-radius: 2rem;
}
.inputContainer {
  width: 100%;
}
.inputContainer input {
  width: 100%;
  border: 1px solid var(--darkGrey);
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  margin-bottom: 1rem;
  align-self: flex-start;
}

.side textarea {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: calc(100% - 6rem);
  resize: none;
  border: 0;
  outline: 0;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--darkGrey);
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.error {
  color: red;
}

/******************/
/* MEDIA QUERIES */
/****************/
@media screen and (min-width: 54rem) {
  .form {
    flex-direction: row;
  }
}
