.container {
  width: 100%;
  max-width: 48rem;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  padding: 1rem 0;
  background: var(--lightGrey);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}
.sensorInfoDialogBtn {
  position: absolute;
  right: 0;
  top: -0.5rem;
  text-transform: lowercase;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  font-family: "Poppins";
  font-weight: 400;
}
.sensorInfoDialogBtn:hover {
  transform-origin: center center;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 37.5rem) {
  .container {
    padding: 2rem 0;
  }
  .sensorInfoDialogBtn {
    right: -0.5rem;
  }
}
