.wrapper {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 0;
  margin-bottom: 2rem;
}
.visualizationContainer {
  width: calc(100% - 380px);
  min-height: 100%;
  height: 100%;
  align-items: stretch;
}
.toolsContainer {
  width: max-content;
}
.panel {
  background-color: var(--grey);
  padding: 1rem;
  border-radius: 2rem;
}

.toolsPanel {
  background-color: transparent;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modeSelectorContainer {
  background-color: var(--grey);
  border-radius: 3rem;
  height: 2.5rem;
}
.modeSelector {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  padding: 0.125rem 0.25rem;
  justify-content: space-between;
  align-items: center;
}
.link {
  display: block;
  width: max-content;
  height: 2rem;
  padding: 0.25rem 1rem;
  color: var(--darkGrey);
  font-size: 0.6875rem;
  font-family: var(--poppins);
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
}
.active {
  background: var(--darkGrey);
  color: var(--lime);
}

.valueSelectorContainer {
  width: 100%;
  position: relative;
  background: var(--grey);
  overflow: hidden;
  border-radius: 4rem;
}
.valueSelector {
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 0.5rem;
  padding: 0.25rem;
  scroll-snap-type: x mandatory;

  /* Scrollbar oletuksena piiloon */
  scrollbar-width: none; /* Firefox */
}

.valueSelector::-webkit-scrollbar {
  height: 8px;
  opacity: 0;
}

/* Ei scrollbar trackia näkyviin */
.valueSelector::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb näkyy vain hoverilla */
.valueSelector::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.valueSelector:hover::-webkit-scrollbar-thumb {
  background-color: var(--darkGrey);
}

.valueSelector button {
  min-width: max-content;
  height: 2rem;
  padding: 0.25rem 1rem;
  color: var(--darkGrey);
  font-size: 0.6875rem;
  font-family: var(--poppins);
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.valueSelector button.activeBtn {
  color: var(--lime);
  background-color: var(--darkGrey);
}
.datePickerContainer {
  width: 100%;
  background-color: var(--grey);
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: first baseline;
  gap: 0.25rem;
}

.datePickerContainer .divRlou {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
  background-color: var(--darkGrey);
  color: #fff;
  line-height: 2rem;
}

.container,
.notesContainer {
  width: 100%;
  border-radius: 2rem;

  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.notesTitle {
  width: 100%;
  text-align: center;
  margin: 0 0 1rem 0;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

/******************/
/* MEDIA QUERIES */
/****************/
@media screen and (min-width: 37.5rem) {
  .container,
  .notesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;

    background: var(--lightGrey);
    overflow: hidden;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  }

  .notesContainer {
    max-width: 40rem;
    margin: 0 auto;
    flex-direction: column;
  }
}
