.logoutBtn {
  background: var(--purple);
  font-family: var(--poppins);
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-top: auto;
  padding: 0.5rem 1rem;
  border-radius: 2.25rem;
}
