.notesContainer {
  width: 100%;
  max-width: 48rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  padding: 2rem 0;
  background: var(--lightGrey);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.side {
  width: 100%;
  height: auto;
  background: var(--grey);
  border-radius: 2rem;
  overflow: hidden;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date {
  width: 320px;
  background: var(--grey);
  border-radius: 2rem;
}
.inputContainer {
  width: 100%;
  font-family: var(--roboto);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.inputContainer input {
  width: 100%;
}

.inputLabel {
  font-family: var(--roboto);
  font-weight: 300;
}

.side textarea {
  display: block;
  width: 100%;
  resize: none;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--darkGrey);
  box-sizing: border-box;
  min-height: 6rem;
}

.imageInputContainer {
  width: 100%;
  font-family: var(--roboto);
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: left;
  position: relative;
}
.imageInputContainer input {
  width: auto;
}
.imageUploadBtn {
  position: relative;
}
.imageBtn {
  width: auto;
  margin: 0;
  padding-left: 2.5rem;
  position: relative;
}
.imageIcon {
  position: absolute;
  z-index: 2;
  top: 0.6rem;
  left: 1rem;
  width: 1rem;
  height: 1rem;
}
.hidden {
  display: none;
}

.removeImageBtn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--purple);
  z-index: 2;
}
.removeImageBtn:hover {
  transform-origin: center center;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.removeImageBtn * {
  stroke: white;
}

.imageContainer {
  position: relative;
}
.imageContainer img {
  width: 100%;
  height: auto;
}

.bottom {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.bottom button {
  margin: 0;
  justify-self: flex-end;
}

.error {
  flex: 1;
  text-align: left;
  color: red;
}

.success {
  flex: 1;
  text-align: left;
  color: green;
}

/******************/
/* MEDIA QUERIES */
/****************/
@media screen and (min-width: 54rem) {
  .form {
    flex-direction: row;
  }
  .notesContainer {
    padding: 2rem;
  }
}
