.settingsBtn {
  background: var(--grey);
  font-family: var(--poppins);
  color: #fff;
  padding: 0.25rem 0 0 0;
  width: 2rem;
  height: 2rem;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settingsBtn * {
  color: var(--darkGrey);
}

.settingsBtn:hover * {
  color: var(--lime);
}
.settingsBtn:hover {
  background: var(--darkGrey);
}

.settingsBtn path:nth-child(2) {
  fill: #e8e8e8;
}
.settingsBtn:hover path:nth-child(2) {
  fill: var(--darkGrey);
}
