.container {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profileImage {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}
.nickName {
  font-family: var(--poppins);
  margin: 0 0 4rem 0;
}

.devicesTitle {
  margin: 0 0 1rem 0;
}

.devicesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  padding: 1rem;
  background: var(--lightGrey);
  border-radius: 1rem;
  display: flex;
}

.device {
  padding: 1rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  background: var(--grey);
  border-radius: 1rem;
  display: flex;
}

.removeBtn {
  margin-top: 1rem;
}

/******************/
/* MEDIA QUERIES */
/****************/
@media screen and (min-width: 37.5rem) {
  .container {
    padding: 4rem 2rem 2rem 2rem;
  }
  .devicesContainer {
    padding: 2rem;
  }
}
