.container {
  width: 100%;
  background-color: var(--grey);
  padding: 0.5rem;
}
.container:nth-child(even) {
  background-color: var(--lightGrey);
}
.amount,
.date {
  padding: 0.25rem;
  font-size: 0.875rem;
}

.container:has(.image) .content {
  margin-bottom: 1rem;
}

.image {
  position: relative;
  width: 100%;
  height: auto;
}
