@font-face {
    font-family: 'RobotoCondensed';
    src: url('./RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}

/* Simple CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
    border: 0;
}
html,body {
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    outline: 0;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, table, th, td, figure, blockquote {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: "RobotoCondensed", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

img, video {
    max-width: 100%;
    height: auto;
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}    

:root {
    --purple: #6A5ACD;
    --lime: #D1F561;
}
.container {
    margin: 0 auto;
    width: 100%;
    padding: 1.25rem;
}
.logoContainer, #logo {
    width:80px;
    height:80px;            
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
}
.deviceIdContainer {
    margin-left: 1.25rem;
}
.formContainer {
    max-width: 400px;
    width: 100%;
    margin-top: 1.25rem;
}
form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: var(--purple);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    opacity:.85;
}
.hidden {
    display: none;
}

#deviceId{
    color: var(--purple);
}

.red {
color: red;
}
.yellow {
color: yellow;
} 
.green {
color: green;
}     