/**********/
/* FONTS */
/********/
@font-face {
  font-family: 'RobotoCondensed';
  src: url('./RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoCondensedLight';
  src: url('./RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsBold';
  src: url('./Poppins-Bold.ttf') format('truetype');
}

/**************/
/* VARIABLES */
/************/
:root {
  --lightGrey: rgba(250, 250, 250, 1);
  --grey: rgba(114, 114, 114, 0.1);
  --mediumGrey: rgba(74, 74, 74, 0.75);
  --darkGrey: rgba(114, 114, 114, 1);
  --black: rgba(33, 33, 33, 1);
  --purple: rgba(106, 90, 205, 1);
  --lime: rgba(209, 245, 97, 1);
  --poppins: 'PoppinsBold';
  --roboto: 'RobotoCondensed';
  --robotoLight: 'RobotoCondensedLight';
}

/**********/
/* RESET */
/********/
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
table,
th,
td,
figure,
blockquote {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

/***********/
/* STYLES */
/*********/
body {
  font-family: var(--roboto), Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--lightGrey);
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  padding: 0.5rem;
  background-color: #fff;
}

/***********/
/* HEADER */
/*********/
.logoContainer,
#logo {
  width: 80px;
  height: 80px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
}
.deviceIdContainer {
  margin-left: 1.25rem;
  font-family: var(--robotoLight);
  text-transform: uppercase;
}
.deviceIdContainer h1 {
  font-size: 1.125rem;
  line-height: 1.125rem;
}
.deviceIdContainer span {
  display: block;
}
#deviceId {
  font-family: var(--robotoLight);
}

/*************/
/* TAB MENU */
/***********/
.tabSelector {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--grey);
  padding: 0.5rem 0.5rem;
  border-radius: 2.5rem;
}
.tabSelector .active {
  color: var(--lime);
  background: var(--mediumGrey);
  border-radius: 2.5rem;
}
.tabSelector a {
  padding: 0.5rem 1rem;
  color: var(--darkGrey);
  text-transform: uppercase;
  font-size: 0.875rem;
}
.tabSelector a:not(.active):hover {
  color: var(--black);
}

/*********/
/* TABS */
/*******/
.tabs {
  max-width: 680px;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  background: var(--grey);
  border-radius: 2.5rem;
}
.tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.tab:not(.active) {
  display: none;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 2rem;
}
.tab h2 {
  font-size: 1.25rem;
}
.tab .side {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*******************/
/* CONNECTION TAB */
/*****************/
.connectionStatus h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--robotoLight);
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-top: 1rem;
}
.circle {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  border: 1px solid var(--black);
  overflow: hidden;
}
.connectionStatus p {
  margin: 1rem 0 0 0;
}

/*****************/
/* WATERING TAB */
/***************/
.sliderInputContainer {
  position: relative;
  margin: 1rem 0;
}
.sliderInputContainer label {
  position: absolute;
  font-size: 0.875rem;
}
.sliderInputContainer .tl {
  top: -1rem;
  left: 0;
}
.sliderInputContainer .tr {
  top: -1rem;
  right: 0;
}
.sliderInputContainer .br {
  bottom: -1rem;
  right: 0;
}
.sliderInputContainer .bl {
  bottom: -1rem;
  left: 0;
}
/* RANGE SLIDER INPUT */
input[type='range']:hover {
  appearance: none;
  padding: 0;
  border: 0;
  opacity: 1;
  transition: all 0.2s;
}
/* Track  */
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  background: var(--black);
  border-radius: 0.5rem;
  border: 1px solid var(--black);
}
/* Handle */
input[type='range']::-webkit-slider-thumb {
  position: relative;
  top: -0.4rem;
  -webkit-appearance: none;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  background: var(--purple);
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--black);
}
.sliderValue {
  display: block;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
#watering .side {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 1.875rem;
}

/* FORMS */
.formContainer {
  width: 100%;
}

form {
  width: 100%;
  margin: 0 auto;
  background: white;
  padding: 1.25rem;
  border-radius: 1.875rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.side h3 {
  text-decoration: uppercase;
  font-size: 1.125rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: var(--robotoLight);
  text-transform: uppercase;
}
input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
input[type='range'] {
  appearance: none;
  padding: 0;
  border: 0;
  opacity: 0.8;
}

button {
  background-color: var(--purple);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  opacity: 0.85;
}
.hidden {
  display: none;
}

#deviceId {
  color: var(--purple);
}

/******************/
/* MEDIA QUERIES */
/****************/
@media screen and (min-width: 600px) {
  body {
    padding: 1.25rem;
  }
  .container {
    padding: 1.25rem;
    border-radius: 2.5rem;
  }

  .content {
    flex-direction: row;
  }
  .tab .side {
    width: 50%;
    flex-direction: column;
  }
}

/*******************/
/* HELPER CLASSES */
/*****************/
.poppins {
  font-family: var(--poppins);
}
.robotoLight {
  font-family: var(--robotoLight);
}
.uppercase {
  text-transform: uppercase;
}
.grey {
  color: rgba(114, 114, 114, 0.1);
}
.red {
  color: red;
}
.redBg {
  background-color: red;
}
.yellow {
  color: yellow;
}
.yellowBg {
  background-color: yellow;
}
.green {
  color: green;
}
.greenBg {
  background-color: green;
}
.lime {
  color: var(--lime);
}
.purple {
  color: var(--purple);
}
