/**********/
/* FONTS */
/********/
@font-face {
  font-family: 'RobotoCondensed';
  src: url('./RobotoCondensed-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedLight';
  src: url('./RobotoCondensed-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PoppinsBold';
  src: url('./Poppins-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/**************/
/* VARIABLES */
/************/
:root {
  --lightGrey: rgba(250, 250, 250, 1);
  --grey: rgba(114, 114, 114, 0.1);
  --mediumGrey: rgba(74, 74, 74, 0.75);
  --darkGrey: rgba(114, 114, 114, 1);
  --black: rgba(33, 33, 33, 1);
  --purple: rgba(106, 90, 205, 1);
  --lime: rgba(209, 245, 97, 1);
  --poppins: 'PoppinsBold';
  --roboto: 'RobotoCondensed';
  --robotoLight: 'RobotoCondensedLight';
}

/**********/
/* RESET */
/********/
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
table,
th,
td,
figure,
blockquote {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

/***********/
/* STYLES */
/*********/
body {
  font-family: var(--roboto), Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--lightGrey);
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  padding: 0.5rem;
  background-color: #fff;
}

/***********/
/* HEADER */
/*********/
.logoContainer,
#logo {
  width: 80px;
  height: 80px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.deviceIdContainer {
  margin-left: 1.25rem;
}
.deviceIdContainer h1 {
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-family: var(--roboto);
  text-transform: uppercase;
}
.deviceIdContainer span {
  display: block;
}
#deviceId {
  font-family: var(--robotoLight);
}

/*************/
/* TAB MENU */
/***********/
.tabSelector {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--grey);
  padding: 0.5rem 0.5rem;
  border-radius: 2.5rem;
}
.tabSelector .active {
  color: var(--lime);
  background: var(--mediumGrey);
  border-radius: 2.5rem;
}
.tabSelector a {
  padding: 0.5rem 1rem;
  color: var(--darkGrey);
  text-transform: uppercase;
  font-size: 0.875rem;
}
.tabSelector a:not(.active):hover {
  color: var(--black);
}

/*********/
/* TABS */
/*******/
.tabs {
  max-width: 680px;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  background: var(--grey);
  border-radius: 2.5rem;
}
.tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.tab:not(.active) {
  display: none;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 2rem;
}
.tab h2 {
  font-size: 1.25rem;
}
.tab .side {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*******************/
/* CONNECTION TAB */
/*****************/
.connectionStatus h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--robotoLight);
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-top: 1rem;
}
.circle {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  border: 1px solid var(--black);
  overflow: hidden;
}

.connectionStatus p:nth-child(even) {
  margin: 0;
  text-transform: uppercase;
  font-family: var(--robotoLight);
}
.connectionStatus p:nth-child(odd) {
  margin: 0 0 1rem 0;
}

/*****************/
/* WATERING TAB */
/***************/
.sliderInputContainer {
  position: relative;
  margin: 1rem 0;
}
.sliderInputContainer label {
  position: absolute;
  font-size: 0.875rem;
}
.sliderInputContainer .tl {
  top: -1rem;
  left: 0;
}
.sliderInputContainer .tr {
  top: -1rem;
  right: 0;
}
.sliderInputContainer .br {
  bottom: -1rem;
  right: 0;
}
.sliderInputContainer .bl {
  bottom: -1rem;
  left: 0;
}
/* RANGE SLIDER INPUT */
input[type='range']:hover {
  appearance: none;
  padding: 0;
  border: 0;
  opacity: 1;
  transition: all 0.2s;
}
/* TRACK  */
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  background: var(--black);
  border-radius: 0.5rem;
  border: 1px solid var(--black);
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  background: var(--black);
  border-radius: 0.5rem;
  border: 1px solid var(--black);
}
/* HANDLE */
input[type='range']::-webkit-slider-thumb {
  position: relative;
  top: -0.4rem;
  -webkit-appearance: none;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  background: var(--purple);
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--black);
}
input[type='range']::-moz-range-thumb {
  position: relative;
  top: -0.4rem;
  -webkit-appearance: none;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  background: var(--purple);
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--black);
}
/* HANDLE HOVER */
input[type='range']::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}
input[type='range']::-moz-range-thumb:hover {
  transform: scale(1.2);
}
.sliderValue {
  display: block;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* FORMS */
.formContainer {
  width: 100%;
}
.checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.checkBoxContainer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
form {
  width: 100%;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  background: white;
  padding: 1.25rem;
  border-radius: 1.875rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.side h3 {
  text-decoration: uppercase;
  font-size: 1.125rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: var(--robotoLight);
  text-transform: uppercase;
  line-height: 1.125rem;
}
input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--darkGrey);
  border-radius: 0.5rem;
}
input[type='range'] {
  appearance: none;
  padding: 0;
  border: 0;
  opacity: 0.8;
}
input[type='checkbox'] {
  appearance: none; /* Remove default styling */
  -webkit-appearance: none; /* For Safari */
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: 1px solid var(--darkGrey);
  border-radius: 0.25rem;
  margin-top: 0.075rem;
  position: relative;
  margin-bottom: 0;
}
input[type='checkbox']::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: -0.1rem;
  left: -0.1rem;
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAATCAYAAACUef2IAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAF9SURBVHgBrVShVsMwFH0pP1CqkG0VcnOTwyHbT+ALAAcK9gUMh9snbBIHOBx1uDYS19iZlvt6Ek6atd046z2np8lL3s3LvUmIRkQYhr5pn9BIAGkohPgOgmBbluWnoBGgSd+4yX20l6NUjCpX+M2s0MyjIxHH8UNd14kdQ3+xIwUbIKVUdAAwN8G21044K4pi6jmrX2PiFxImB5Cyrk9OWKLalBvCVOl5Hm/pxpow7auc53MBpM0y0DkZt03FiUXa5GKhFfWAi+ggXRhSRnMqlFIZnD2ltrPniBHO5IdNoM26c0ifQdqKtcyLooi3N3GSLpD03mwD2msJbHTK1iLWhnCib4UVJzaTrUtgkfLC0lmMuo7bXBPYMNq5u0nBuaEO7Nw86C19n00Xcyt8pj+blM16oR70vhUwae3eqL8kITZ5nqc0gN4rXVXVFX6yY0hi7Jb2YPB106eA9TZmKn0CJO3B4OsGvX+g9xbkl9wH6T04X2ksQO8lqn/8T84vy5ivj9WOFZcAAAAASUVORK5CYII=');
  background-size: 0.6875rem 0.6875rem;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  opacity: 0;
}
input[type='checkbox']:checked::after {
  opacity: 1;
}

.submitContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: auto;
}
button {
  background-color: var(--purple);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  cursor: pointer;
  width: max-content;
  font-size: 0.6875rem;
  line-height: 1rem;
  text-transform: uppercase;
  font-family: var(--poppins);
  letter-spacing: 0.05rem;
  opacity: 0.9;
}
button:hover {
  opacity: 1;
}
.formResponse {
  margin-top: 1rem;
  width: 100%;
}

/******************/
/* MEDIA QUERIES */
/****************/
@media screen and (min-width: 600px) {
  body {
    padding: 1.25rem;
  }
  .container {
    padding: 1.25rem;
    border-radius: 2.5rem;
  }

  .content {
    flex-direction: row;
  }
  .tab .side {
    width: 50%;
    flex-direction: column;
  }
}

/*******************/
/* HELPER CLASSES */
/*****************/
.hidden {
  display: none;
}
.poppins {
  font-family: var(--poppins);
}
.robotoLight {
  font-family: var(--robotoLight);
}
.uppercase {
  text-transform: uppercase;
}
.grey {
  color: rgba(114, 114, 114, 0.1);
}
.red {
  color: red;
}
.redBg {
  background-color: red;
}
.yellow {
  color: yellow;
}
.yellowBg {
  background-color: yellow;
}
.green {
  color: var(--lime);
}
.greenBg {
  background-color: var(--lime);
}
.lime {
  color: var(--lime);
}
.purple {
  color: var(--purple);
}
