.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 0;
}

.title {
  align-self: center;
}

.naviContainer {
  background: var(--grey);
  padding: 0.25rem;
  border-radius: 3rem;
}
.content {
  width: 100%;
}

@media screen and (min-width: 37.5rem) {
  .container {
    padding-top: 4rem;
  }
}
