/**************/
/* VARIABLES */
/************/
:root {
  --lightGrey: rgba(250, 250, 250, 1);
  --grey: rgba(114, 114, 114, 0.1);
  --mediumGrey: rgba(74, 74, 74, 0.75);
  --darkGrey: rgba(114, 114, 114, 1);
  --black: rgba(33, 33, 33, 1);
  --purple: rgba(106, 90, 205, 1);
  --lime: rgba(209, 245, 97, 1);
}

/**********/
/* RESET */
/********/
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
table,
th,
td,
figure,
blockquote {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

/***********/
/* STYLES */
/*********/
body {
  font-family: var(--roboto), Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--lightGrey);
  padding: 0;
}
#logo {
  position: relative;
  z-index: 2;
}
.container {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #fff;
}
h1,
h2,
h3 {
  font-family: var(--poppins);
}

.btn {
  background: var(--purple);
  font-family: var(--poppins);
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 2.25rem;
  cursor: pointer;
}

/******************/
/* MEDIA QUERIES */
/****************/
@media screen and (min-width: 37.5rem) {
  body {
    padding: 1.25rem;
  }
  .container {
    padding: 1.25rem;
    border-radius: 2.5rem;
  }
}
